<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}PressDictionary!{% endblock %}</title>
    <link type="text/css" rel="stylesheet" href="{{ asset('css/app.css') }}" />
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <script src="{{ asset('js/modernizr.js') }}"></script>
</head>
<body>

    <div class="top-bar" id="header">
        <div class="top-bar-right">
            <ul class="dropdown menu" data-dropdown-menu>
                <li class="menu-text">PressDictionary</li>
            </ul>
        </div>
    </div>
    <div id="content">
    {% block body %}

    {% endblock %}
    </div>
    <div class="row column expanded" id="footer">2017 - Developed by Web with George</div>

    <script src="{{ asset('js/build.js') }}"></script>
    <script src="{{ asset('js/app.js') }}"></script>

</body>
</html>
